
h1 {
  text-align: center;
  font-size: large;
}

.form-group{
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.text{
  font-size: medium;
}

.form-control{
  width : 20%;
  border: 2px solid #3ab4f2;
  border-radius: 4px;
}

.input{
  margin-top: 5px;
}

.bioinput{
  height: 50px;
  resize: none;
}

.d-center {
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 30px;
  padding-bottom: 30px;
}


.btn {
    background: None;
    display: inline-block;
    border: none;
    color: white;
    font: inherit;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.change-photo-btn{
  background-color: white; /*same color in Figma*/
    border: grey;
    border-style: solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.save-btn{
    background-color: #3ab4f2; /*same color in Figma*/
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 3px;
}